@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$font-stack: 'Nunito', sans-serif;
$font-color: black;
$primary-color: #6481b3;
$secondary-color: white;
$tertiary-color: #9094ad;

html, body {
  height:100%;
}

body {
  font: 100% $font-stack;
  color: $font-color;
  background-color: $primary-color;
  margin: 0;
  height: 200vh;
}

a object{
  pointer-events: none;
}

main {
  margin-left: 3%;
  margin-right: 3%;
  height: 100%;
  margin-top: 5rem;
}

main h1 {
  margin: auto;
  text-align: center;
}