@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$font-stack: 'Nunito', sans-serif;
$font-color: black;
$primary-color: #6481b3;
$secondary-color: white;
$tertiary-color: #9094ad;
$fourth-color: #35373d;
$fifth-color: #7997c7;

$menu-speed: 0.3s;

:root {
    --h: 0;
    --transition: 0.3s;
    --documentHeight: 0;
}

html, body {
  box-sizing: content-box;
}

body {
  font: 100% $font-stack;
  color: $font-color;
  background-color: $primary-color;
  margin: 0;
  height: calc(100% - 6rem);
}

.html-menu-open { 
  // position: fixed; 
  overflow-y:hidden;
  margin-right: 18px;
}

.body-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--documentHeight);
  width: 65vw;
  
}

.body-overlay-menu-open {
  z-index: 3;
  backdrop-filter: blur(6px);
  width: 68vw;
}

a object{
  pointer-events: none;
}

.link-style:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 1px;
  left: 1px;
  background-color: $secondary-color;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.link-style:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.line {
  height: 1px;
  background: $tertiary-color;
}

article {
  // margin-left: 4%;
  // margin-right: 4%;
  height: 80vh;
  padding: 10vh 0 10vh 0;
  display: flex;
  justify-content: center;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.active-scroll {
   
  div, p {
    animation-name: scrollSlideIn;
    animation-duration: 1.0s;
  }
  
}

@keyframes scrollSlideIn {
  0%   { top: 80px; opacity: 0;}
  100% { top:0; opacity: 1;}
}

