@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$font-stack: 'Nunito', sans-serif;
$font-color: black;
$primary-color: #6481b3;
$secondary-color: white;
$tertiary-color: #9094ad;
$fourth-color: #35373d;

html, body {
  height:100%;
}

body {
  font: 100% $font-stack;
  color: $font-color;
  background-color: $primary-color;
  margin: 0;
  height: calc(100% - 6rem);
}

a object{
  pointer-events: none;
}

