.left-menu-container {
    width: 100%;
    height: 235px;
    display: flex;
    justify-content: center;
}

.left-menu-bar {
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.icons-container a {
    color: $font-color;
    text-decoration: none;
    transition: transform 0.4s;
}

.icons-container a:hover {
    color: $secondary-color;
    transform: translateY(-3px);
}

.vertical-line {
    width: 2px;
    background-color: $font-color;
    height: 7rem;
}

@media(max-width: 750px) {
    .left-menu-container {
        display: none;
    }
}