main {
//   margin-left: 4%;
//   margin-right: 4%;
  height: 80vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.bio-container {
    width: 90%;
    height: 100%;
    margin-top: 7rem;
}

.bio-container p {
    margin: 5px 0px 5px 0px;
    animation-name: fadeIn-slideIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn-slideIn {
  0%   { margin-top:2%; opacity: 0;}
  100% { margin-top:5px; opacity: 1;}
}

.bio-container p:first-child {
    color: $secondary-color;
}

.bio-container p:nth-child(2), .bio-container p:nth-child(3) {
    font-weight: 700;
    font-size: 3rem;
}

.bio-container p:nth-child(2) {
    color: $font-color; 
}

.bio-container p:nth-child(3), .bio-container p:nth-child(4) {
    color: $fourth-color;
}

.bio-container p:nth-child(4) a {
    color: $secondary-color;
    text-decoration: none;
    position: relative;
}

@media(max-width: 350px) {
    .bio-container p:nth-child(2), .bio-container p:nth-child(3) {
        font-size: 2rem;
    }
}

